.myBody{
    background-color:gainsboro;
}
.myClass{
    right: 100px;
    top: 100px;
}
.container-sm{
    background-color: white;
}
li span:hover{
     color: red !important;
}

a{
    text-decoration:none !important;
}
